// Colors
$night: #171c28;
$black: #000000;
$dark-grey: #444452;
$grey: #777777;
$slate: #afafbf;
$off-white: #e7e7e7;
$white: #ffffff;
$orange : orange;

// Font Family
$font-stack: 'Raleway', sans-serif;

// Font Size
$fz-h1: 38px;
$fz-h2: 30px;
$fz-h3: 24px;
$fz-h4: 16px;
$fz-h5: 18px;
$fz-h6: 13px;
$fz-h7: 28px;
$fz-h9: 20px;

// Font Weight
$fw-800: 800;
$fw-700: 700;
$fw-600: 600;
$fw-500: 500;
$fw-400: 400;
$fw-300: 300;
$fw-200: 200;

// Letter-spacing
$ls-primary: 1.2px;
$ls-secondary: 1px;

// Line-height
$lh-primary: 24px;
$lh-secondary: 18px;

// Text-transform
$tt-uppercase: uppercase;


// Media queries
$fifteen-inch: 1440px;
$thirteen-inch: 1280px;
$desktop-width: 1024px;
$little-desktop: 850px;
$tablet-width: 768px;
$weird-not-tablet-width: 630px;
$phablet-width: 550px;
$mobile-width: 480px;
$small-mobile-width: 360px;
$tiny-mobile-width: 330px;


// FlexBox
%flex-cen-cen {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-row-cen {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-row-sb-cen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

// Font  
%theme-font-1 {
  color: $white;
  font-family: $font-stack;
  letter-spacing: $ls-primary;
}

// Button
%theme-btn {
  padding: 10px 30px;
  border: 1px solid $white;
  border-radius: 3px;
  margin: 20px 10px;
  font-family: $font-stack;
  font-weight: $fw-500;
}

%theme-a-white {
  color: $white;
  text-decoration: none;
  font-family: $font-stack;
  letter-spacing: $ls-primary;
  text-transform: $tt-uppercase;
}

%selection {
  &::selection {
    background-color: $orange;
}
}

%btn-hover {
  &:hover {
    opacity: 0.8;
  }
}

%theme-li {
  list-style-type: none;
  cursor: pointer;
  text-align: center;
}

%theme-overview_item {
  text-align: center;
  color: $white;
  text-transform: $tt-uppercase;
  font-family: $font-stack;
}