
header {
    background: url(https://images.unsplash.com/photo-1553632168-eb4237620881?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2689&q=80) no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;

    .nav {
        display: flex;
        width: 100%;
        height: 80px;
        background: transparent;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 0 100px;
        position: absolute;

        .logo {

            padding: 10px;

            h1 {
                color: #FFFFFF;
                font-weight: 400px;
                letter-spacing: 1px;
                font-family: $font-stack;
            }
        }

        .js-menu {
            flex-direction: row;
            padding-left: 0;
            display: flex;
            padding: 10px;
        
            li {
                list-style-type: none;
                font-size: 15px;
                cursor: pointer;
                margin: 20px;
                text-align: center;
                padding: 0 20px;
                
        
                a {
                    text-decoration: none;
                    color: #FFFFFF;
                    font-family: $font-stack;
                }
    
        
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }

    .info {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
    
        .info-wrapper {
            color: #FFFFFF;
            text-align: center;
            padding: 3em;
    
            h1 {
                color: #FFFFFF;
                font-size: 32px;
                font-weight: 700;
                letter-spacing: 10px;
                text-align: center;
                font-family: 'Raleway', sans-serif;
                padding: 10px 0;
            }
            
            p {
                padding: 10px 0;
                color: #FFFFFF;
                text-align: center;
                font-family: 'Raleway', sans-serif;
            }

            .info-btn {
                display: flex;
                flex-direction: row;
                justify-content: center;

                .btn1 {
                    color: #FFFFFF;
                    background-color: transparent;
                    padding: 10px 30px;
                    border: 1px solid #FFFFFF;
                    border-radius: 3px;
                    margin: 20px 10px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 500;
                }
                .btn2 {
                    color: #000000;
                    background-color: #FFFFFF;
                    padding: 10px 30px;
                    border-radius: 3px;
                    border: 1px solid #FFFFFF;
                    margin: 20px 10px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 500;
                }
            }
        }
    }
}

.active {
    display: none;
}





@media screen and (max-width: 480px) {

    .header {
        height: 50vh;

        .nav {
            height: 80px;
            padding: 20px;

            .logo {

                h1 {

                    font-size: 20px;
                    font-weight: $fw-600;

                }
            }
    
            .js-menu {
                display: none;
                justify-content: flex-end;
                width: 80%;
                flex-direction: row;
        
                li {
                    display: inline-block;
                    margin: 0 70px 0 0;
                    text-align: left;
                    border-bottom-style: none;
                    padding: 0;

                    a {
                        
                    }
                }
            }
        }

        .info {
            height: 50vh;

            .info-wrapper {


                h1 {
                    font-size: $fz-h3;
                    font-weight: $fw-700;
                    letter-spacing: $ls-secondary;
                }

                p {
                    font-size: 24px;
                    font-weight: $fw-500;

                }

                .info-btn {

                    .btn1 {
                        display: none;

                    }

                    .btn2 {
                        // display: none;
                    }

                }

            }

        }
    }
} 


@media screen and (max-width: 768px) {

    .header {

        .nav {
            height: 80px;
            padding: 20px 10px;

            .logo {
                padding-left: 40px;

                h1 {

                    font-size: 20px;

                }
            }
    
            .js-menu {
                flex-direction: row;
                justify-content: center;
                align-items: center;
        
                li {
                    display: inline-block;
                    border-bottom-style: none;
                    padding: 0;

                    a {
                        
                    }
                }
            }
        }

        .info {

            .info-wrapper {

                h1 {

                }

                p {

                }

                .info-btn {

                    .btn1 {

                    }

                    .btn2 {
                        // display: none;
                    }

                }

            }

        }
    }
} 