/***
*
* Overviews
*
*/


.overviews {
    display: block;
    padding: 30px 0;
    background: url(https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80) no-repeat;
    width: 100vw;
    background-size: cover;
    // background-position: center;
    position: relative;

    .overviews_wrapper {
        max-width: 960px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .overview_item {
            padding: 20px;
            // width: 25%;

            .overview_item-number {
                @extend %theme-overview_item;
                @extend %selection;
                padding: 10px 0;
                font-size: $fz-h1;
                font-weight: $fw-700;
            }

            .overview_item-title {
                @extend %theme-overview_item;
                @extend %selection;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 1px;
            }
        }
    }
}


@media only screen and (max-width: 480px) {

    .overviews {

        .overviews_wrapper {
            display: flex;
            flex-direction: column;

            .overview_item {

                .overview_item-number {
                    font: 800 40px system-ui;
                    padding: 10px 0;
                    font-size: 40px;
                }
                #value {
                    padding: 10px 0;
                    font-size: 40px;
                    font: 800 40px system-ui;
                }

                .overview_item-title {
                    font-size: 14px;
                }
            }
        }
    }
}


@media only screen and (min-width: 480px) and (min-width: 768px) {

    .overviews {

        .overviews_wrapper {
            display:flex;
            flex-direction: row;

            .overview_item {
                
                .overview_item-number {
                    font: 800 40px system-ui;
                    padding: 10px 0;
                    font-size: 40px;
                }
                #value {
                    padding: 10px 0;
                    font-size: 40px;
                    font: 800 40px system-ui;
                }

                .overview_item-title {
                    font-size: 14px;
                }
            }
        }
    }
}
