/**
*
*   Service
*
*/



.services {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;

    .services_wrapper {
        // width: 100%;
        max-width: 960px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 0;

        .services_title {
            width: 100%;
            font-size: 20px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
            padding: 20px 0;
            font-weight: 600;
            @extend %selection;

            strong {
                color: orange;
                @extend %selection;
            }
        }

        .service_details {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 30px 0;

            .service_detail-item {
                padding: 10px;
                margin: 5px;

                i {
                    display: flex;
                    justify-content: center;
                    // align-items: center;
                    color: #777777;
                }

                h2 {
                    padding: 10px 0;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    font-weight: 600;
                    font-size: 14px;
                    margin-top: 30px;
                    @extend %selection;
                }

                p {
                    padding: 10px 0;
                    text-align: center;
                    color:#777777;
                    font-size: 13px;
                    line-height: 18px;
                    @extend %selection;
                }
            }
        }
    }
}


@media  only screen and (max-width: 375px) {
    .services {
        .services_wrapper {
            display: flex;
            flex-direction: column;

            .services_title {
                font-size: $fz-h2;
            }

            .service_details {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;

                .service_detail-item {
                    padding: 10px;

                    i {}
                    h2 {
                        font-size: $fz-h5;
                        font-weight: $fw-700;
                    }
                    p {
                        font-size: $fz-h4;
                        line-height: $lh-primary;
                    }
                }
            }
        }
    }
} 

@media only screen and (max-width: 480px) {
    .services {
        .services_wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;

            .services_title {
                font-size: $fz-h2;
            }

            .service_details {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                
                .service_detail-item {
                    padding: 20px;

                    i {}
                    h2 {
                        font-size: $fz-h5;
                        font-weight: $fw-700;
                    }
                    p {
                        font-size: $fz-h4;
                        line-height: $lh-primary;
                    }
                }
            }
        }
    }
} 

@media only screen and (max-width: 630px) {
    .services {
        .services_wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;

            .services_title {
                font-size: $fz-h2;
            }

            .service_details {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                
                .service_detail-item {
                    padding: 20px;

                    i {}
                    h2 {
                        font-size: $fz-h5;
                        font-weight: $fw-700;
                    }
                    p {
                        font-size: $fz-h4;
                        line-height: $lh-primary;
                    }
                }
            }
        }
    }
} 

@media only screen and (max-width: 768px) {
    .services {
        .services_wrapper {
            display: flex;
            flex-direction: column;

            .services_title {
                font-size: $fz-h2;
            }

            .service_details {
                // display: flex;
                // flex-wrap: wrap;
                display: grid;
                grid-template-columns: 1fr;

                .service_detail-item {
                    padding: 10px;

                    i {}
                    h2 {
                        font-size: $fz-h5;
                        font-weight: $fw-700;
                    }
                    p {
                        font-size: $fz-h4;
                        line-height: $lh-primary;
                    }
                }
            }
        }
    }
} 

@media only screen and (max-width: 1024px) {
    .services {
        .services_wrapper {
            display: flex;
            flex-direction: column;

            .services_title {
                font-size: $fz-h2;
            }

            .service_details {

                // display: grid;
                // grid-template-columns: 1fr 1fr;

                .service_detail-item {
                    padding: 30px;

                    i {}
                    h2 {
                        font-size: $fz-h5;
                        font-weight: $fw-700;
                    }
                    p {
                        font-size: $fz-h4;
                        line-height: $lh-primary;
                    }
                }
            }
        }
    }
}