@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
.header .info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .info .info-wrapper .info-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header .info .info-wrapper h1, .header .info .info-wrapper p {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.2px;
}

.header .info .info-wrapper .info-btn .btn1, .header .info .info-wrapper .info-btn .btn2 {
  padding: 10px 30px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  margin: 20px 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.header .nav .logo h1::selection, .header .nav .js-menu li a::selection, .header .info .info-wrapper h1::selection, .header .info .info-wrapper p::selection, .header .info .info-wrapper .info-btn .btn1::selection, .header .info .info-wrapper .info-btn .btn2::selection, .services .services_wrapper .services_title::selection, .services .services_wrapper .services_title strong::selection, .services .services_wrapper .service_details .service_detail-item h2::selection, .services .services_wrapper .service_details .service_detail-item p::selection, .overviews .overviews_wrapper .overview_item .overview_item-number::selection, .overviews .overviews_wrapper .overview_item .overview_item-title::selection, .great-work .great-work-title::selection, .great-work .great-work-title strong::selection, .great-work .great-work-menu li a::selection, .great-work .great-work-menu .btn::selection {
  background-color: orange;
}

.overviews .overviews_wrapper .overview_item .overview_item-number, .overviews .overviews_wrapper .overview_item .overview_item-title {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #FFFFFF;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  width: 100%;
  height: 100%;
  position: relative;
}

/**
 * Reset file
 *
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header .info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .info .info-wrapper .info-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header .info .info-wrapper h1, .header .info .info-wrapper p {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.2px;
}

.header .info .info-wrapper .info-btn .btn1, .header .info .info-wrapper .info-btn .btn2 {
  padding: 10px 30px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  margin: 20px 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.header .nav .logo h1::selection, .header .nav .js-menu li a::selection, .header .info .info-wrapper h1::selection, .header .info .info-wrapper p::selection, .header .info .info-wrapper .info-btn .btn1::selection, .header .info .info-wrapper .info-btn .btn2::selection, .services .services_wrapper .services_title::selection, .services .services_wrapper .services_title strong::selection, .services .services_wrapper .service_details .service_detail-item h2::selection, .services .services_wrapper .service_details .service_detail-item p::selection, .overviews .overviews_wrapper .overview_item .overview_item-number::selection, .overviews .overviews_wrapper .overview_item .overview_item-title::selection, .great-work .great-work-title::selection, .great-work .great-work-title strong::selection, .great-work .great-work-menu li a::selection, .great-work .great-work-menu .btn::selection {
  background-color: orange;
}

.overviews .overviews_wrapper .overview_item .overview_item-number, .overviews .overviews_wrapper .overview_item .overview_item-title {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

/**
*   
*  Header 
*
*/
.header {
  background: url(https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80) no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header .nav {
  display: flex;
  width: 100%;
  height: 80px;
  background: transparent;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 100px;
  position: absolute;
}

.header .nav .logo {
  padding: 10px;
}

.header .nav .logo h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
  font-family: "Raleway", sans-serif;
}

.header .nav .js-menu {
  flex-direction: row;
  padding-left: 0;
  display: flex;
  padding: 10px;
}

.header .nav .js-menu li {
  list-style-type: none;
  font-size: 13px;
  cursor: pointer;
  margin: 20px;
  text-align: center;
  padding: 0 20px;
}

.header .nav .js-menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.header .nav .js-menu li a:hover {
  color: orange;
}

.header .info {
  height: 100vh;
}

.header .info .info-wrapper {
  color: #ffffff;
  text-align: center;
  padding: 50px 0;
}

.header .info .info-wrapper h1 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 10px;
  text-align: center;
  padding: 10px 0;
}

.header .info .info-wrapper p {
  padding: 10px 0;
  text-align: center;
}

.header .info .info-wrapper .info-btn .btn1 {
  color: #ffffff;
  background-color: transparent;
}

.header .info .info-wrapper .info-btn .btn2 {
  color: #000000;
  background-color: #FFFFFF;
}

@media screen and (max-width: 375px) {
  .header {
    height: 100vh;
  }
  .header .nav {
    height: 80px;
    padding: 10px;
  }
  .header .nav .logo {
    padding: 0;
  }
  .header .nav .logo h1 {
    font-size: 20px;
    font-weight: 600;
  }
  .header .nav .js-menu {
    display: none;
    justify-content: flex-end;
    width: 80%;
    flex-direction: row;
  }
  .header .nav .js-menu li {
    display: inline-block;
    margin: 0 70px 0 0;
    text-align: left;
    border-bottom-style: none;
    padding: 0;
  }
  .header .info {
    height: 100vh;
  }
  .header .info .info-wrapper h1 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .header .info .info-wrapper p {
    font-size: 18px;
    font-weight: 400;
  }
  .header .info .info-wrapper .info-btn .btn1 {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .header {
    height: 100vh;
  }
  .header .nav {
    height: 80px;
    padding: 20px;
  }
  .header .nav .logo h1 {
    font-size: 20px;
    font-weight: 600;
  }
  .header .nav .js-menu {
    display: none;
    justify-content: flex-end;
    width: 80%;
    flex-direction: row;
  }
  .header .nav .js-menu li {
    display: inline-block;
    margin: 0 70px 0 0;
    text-align: left;
    border-bottom-style: none;
    padding: 0;
  }
  .header .info {
    height: 100vh;
  }
  .header .info .info-wrapper h1 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .header .info .info-wrapper p {
    font-size: 18px;
    font-weight: 400;
  }
  .header .info .info-wrapper .info-btn .btn1 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header .nav {
    height: 80px;
  }
  .header .nav .logo {
    padding-left: 40px;
  }
  .header .nav .logo h1 {
    font-size: 20px;
  }
  .header .nav .js-menu {
    display: none;
  }
  .header .info .info-wrapper .info-btn .btn1 {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header .nav {
    height: 80px;
    padding: 0 10px;
  }
  .header .nav .logo h1 {
    font-size: 20px;
  }
  .header .nav .js-menu {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .header .nav .js-menu li {
    display: inline-block;
    border-bottom-style: none;
    padding: 0;
  }
}

/**
*
*   Service
*
*/
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

.services .services_wrapper {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.services .services_wrapper .services_title {
  width: 100%;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 20px 0;
  font-weight: 600;
}

.services .services_wrapper .services_title strong {
  color: orange;
}

.services .services_wrapper .service_details {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 0;
}

.services .services_wrapper .service_details .service_detail-item {
  padding: 10px;
  margin: 5px;
}

.services .services_wrapper .service_details .service_detail-item i {
  display: flex;
  justify-content: center;
  color: #777777;
}

.services .services_wrapper .service_details .service_detail-item h2 {
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 14px;
  margin-top: 30px;
}

.services .services_wrapper .service_details .service_detail-item p {
  padding: 10px 0;
  text-align: center;
  color: #777777;
  font-size: 13px;
  line-height: 18px;
}

@media only screen and (max-width: 375px) {
  .services .services_wrapper {
    display: flex;
    flex-direction: column;
  }
  .services .services_wrapper .services_title {
    font-size: 30px;
  }
  .services .services_wrapper .service_details {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .services .services_wrapper .service_details .service_detail-item {
    padding: 10px;
  }
  .services .services_wrapper .service_details .service_detail-item h2 {
    font-size: 18px;
    font-weight: 700;
  }
  .services .services_wrapper .service_details .service_detail-item p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 480px) {
  .services .services_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .services .services_wrapper .services_title {
    font-size: 30px;
  }
  .services .services_wrapper .service_details {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .services .services_wrapper .service_details .service_detail-item {
    padding: 20px;
  }
  .services .services_wrapper .service_details .service_detail-item h2 {
    font-size: 18px;
    font-weight: 700;
  }
  .services .services_wrapper .service_details .service_detail-item p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 630px) {
  .services .services_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .services .services_wrapper .services_title {
    font-size: 30px;
  }
  .services .services_wrapper .service_details {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .services .services_wrapper .service_details .service_detail-item {
    padding: 20px;
  }
  .services .services_wrapper .service_details .service_detail-item h2 {
    font-size: 18px;
    font-weight: 700;
  }
  .services .services_wrapper .service_details .service_detail-item p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .services .services_wrapper {
    display: flex;
    flex-direction: column;
  }
  .services .services_wrapper .services_title {
    font-size: 30px;
  }
  .services .services_wrapper .service_details {
    display: grid;
    grid-template-columns: 1fr;
  }
  .services .services_wrapper .service_details .service_detail-item {
    padding: 10px;
  }
  .services .services_wrapper .service_details .service_detail-item h2 {
    font-size: 18px;
    font-weight: 700;
  }
  .services .services_wrapper .service_details .service_detail-item p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 1024px) {
  .services .services_wrapper {
    display: flex;
    flex-direction: column;
  }
  .services .services_wrapper .services_title {
    font-size: 30px;
  }
  .services .services_wrapper .service_details .service_detail-item {
    padding: 30px;
  }
  .services .services_wrapper .service_details .service_detail-item h2 {
    font-size: 18px;
    font-weight: 700;
  }
  .services .services_wrapper .service_details .service_detail-item p {
    font-size: 16px;
    line-height: 24px;
  }
}

/***
*
* Overviews
*
*/
.overviews {
  display: block;
  padding: 30px 0;
  background: url(https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80) no-repeat;
  width: 100vw;
  background-size: cover;
  position: relative;
}

.overviews .overviews_wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.overviews .overviews_wrapper .overview_item {
  padding: 20px;
}

.overviews .overviews_wrapper .overview_item .overview_item-number {
  padding: 10px 0;
  font-size: 38px;
  font-weight: 700;
}

.overviews .overviews_wrapper .overview_item .overview_item-title {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 480px) {
  .overviews .overviews_wrapper {
    display: flex;
    flex-direction: column;
  }
  .overviews .overviews_wrapper .overview_item .overview_item-number {
    font: 800 40px system-ui;
    padding: 10px 0;
    font-size: 40px;
  }
  .overviews .overviews_wrapper .overview_item #value {
    padding: 10px 0;
    font-size: 40px;
    font: 800 40px system-ui;
  }
  .overviews .overviews_wrapper .overview_item .overview_item-title {
    font-size: 14px;
  }
}

@media only screen and (min-width: 480px) and (min-width: 768px) {
  .overviews .overviews_wrapper {
    display: flex;
    flex-direction: row;
  }
  .overviews .overviews_wrapper .overview_item .overview_item-number {
    font: 800 40px system-ui;
    padding: 10px 0;
    font-size: 40px;
  }
  .overviews .overviews_wrapper .overview_item #value {
    padding: 10px 0;
    font-size: 40px;
    font: 800 40px system-ui;
  }
  .overviews .overviews_wrapper .overview_item .overview_item-title {
    font-size: 14px;
  }
}

/**
*
*   Great Work
*
*/
.great-work {
  width: 100%;
  padding: 80px 0 20px 0;
}

.great-work .great-work-title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.great-work .great-work-title strong {
  color: orange;
}

.great-work .great-work-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 25px 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.great-work .great-work-menu li {
  padding: 25px 0;
}

.great-work .great-work-menu li a {
  text-decoration: none;
  color: #000000;
  font-family: "Raleway", sans-serif;
}

.great-work .great-work-menu li a:hover {
  color: orange;
}

.great-work .great-work-menu .btn {
  background-color: #ffffff;
  border: none;
  outline: none;
  padding: 20px 30px;
  color: #000000;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.great-work .great-work-menu .btn.active {
  color: orange;
}

.great-work .column {
  float: left;
  width: 25%;
  display: none;
}

.great-work .show {
  display: block;
}

.great-work .row:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 480px) {
  .great-work {
    width: 100%;
  }
  .great-work .great-work-title {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 20px;
  }
  .great-work .great-work-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .great-work .great-work-menu li {
    padding: 10px 0;
  }
  .great-work .great-work-menu li a {
    text-decoration: none;
    color: #000000;
    font-family: "Raleway", sans-serif;
  }
  .great-work .great-work-menu .btn {
    padding: 10px 5px;
    color: #000000;
    background-color: #ffffff;
  }
  .great-work .great-work-menu .btn.active {
    color: orange;
  }
  .great-work .column {
    float: left;
    width: 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
  .great-work {
    width: 100%;
  }
  .great-work .great-work-title {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 20px 20px;
  }
  .great-work .great-work-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .great-work .great-work-menu li {
    padding: 10px 0;
  }
  .great-work .great-work-menu li a {
    text-decoration: none;
    color: #000000;
    font-family: "Raleway", sans-serif;
  }
  .great-work .great-work-menu .btn {
    padding: 10px 5px;
    color: #000000;
    background-color: #ffffff;
  }
  .great-work .great-work-menu .btn.active {
    color: orange;
  }
  .great-work .column {
    float: left;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .great-work {
    width: 100%;
  }
  .great-work .great-work-title {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 20px 20px;
  }
  .great-work .great-work-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .great-work .great-work-menu li {
    padding: 10px 0;
  }
  .great-work .great-work-menu li a {
    text-decoration: none;
    color: #000000;
    font-family: "Raleway", sans-serif;
  }
  .great-work .great-work-menu .btn {
    padding: 10px 5px;
    color: #000000;
    background-color: #ffffff;
  }
  .great-work .great-work-menu .btn.active {
    color: orange;
  }
  .great-work .column {
    float: left;
    width: 50%;
  }
}

.footer {
  width: 100%;
  padding: 40px 0;
  text-align: center;
}

.footer a {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  color: #777777;
  text-decoration: none;
  padding: 40px 0;
  font-weight: 600;
  font-size: 18px;
}

.footer a b {
  text-align: center;
  color: #000000;
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 70px 0;
  }
}
